*{
  padding: 0;
  margin: 0;
}

body{
  background: #77A1D3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #E684AE, #79CBCA, #77A1D3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #E684AE, #79CBCA, #77A1D3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: Exo, sans-serif;
}

a{
  text-decoration: none;
  color: black;
}

header{
  text-align: center;
  font-size: 2em;
  color: white;
  margin: 100px auto 50px;
  p{
    font-size: 0.5em;
  }
}

#channels{
  display: grid;
  grid-template-columns: 48% 48%;
  grid-gap: 5px;
}

.wrapper{
  width: 800px;
  margin: auto;

  img{
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 20px;
    margin-right: 20px;
  }

  p{
    padding-top: 10px;
  }

  h3{
    font-size: 1.3em;
    padding: 10px;
  }

  div{
    background: white;
    padding: 20px;
    border-radius: 10px;
  }

  .inactive{
    opacity: 0.5;
  }
}

button{
  padding: 8px;
  font-size: 1em;
  background: yellowgreen;
  color: white;
  font-family: Exo, sans-serif;
  border: none;
  outline: none;
  margin-right: 10px;
  border-radius: 3px;

  &:hover{
    background: black;
    color: white;
  }
}

#control-bar{
  padding-bottom: 40px;
  text-align: center;
  margin: auto;
}
